<div class="${baseClass}" role="dialog">
  <div class="${baseClass}Header" data-dojo-attach-point="headerNode">
    <span class="${baseClass}HeaderTitle" data-dojo-attach-point="titleNode"></span>
    <button class="${baseClass}HeaderCloseBtn" data-dojo-attach-point="closeBtnNode" data-dojo-attach-event="onclick:hide">
      <span class="${baseClass}CloseText" data-dojo-attach-point="closeTextNode">x</span>
    </button>
  </div>
  <div class="${baseClass}Body" data-dojo-attach-point="containerNode"></div>
</div>