.authorWidget {
  overflow: hidden; 
  width: 400px;
  padding: 10px;
  border: 1px solid black;
}

.authorWidget h3 {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  margin: 0px;
}

.authorWidgetAvatar {
  float: left;
  margin: 4px 12px 6px 0px;
  max-width: 75px;
  max-height: 75px;
}